#print{
             margin-top:200px;
             margin-left:200px;
             margin-right:200px;
             background-color:#ebf4fb;
             padding:30px;
             text-align:center;
             font-size:25px;
            // height:90px;
       }

#link{
        margin-top:30px;
       // margin-left:400px;
        text-align:center;
     }

